.create-post {
  margin-bottom: 16px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &__header {
    margin-bottom: 16px;
    padding: 9px 16px;
    background-color: $grey-3;
    font-weight: 600;
    font-style: 1rem;
    line-height: 22px;
    color: $grey-8;

    h4 {
      margin: 0;
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
  }

  &__avatar {
    margin-right: 16px;
    width: 40px;
  }

  &__input {
    width: 100%;
    margin-top: 8px;
  }

  &__footer {
    display: flex;
    margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-top: 1px #E8E8E8 solid;
  }
}
