.main-header {
  margin-bottom: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $primary-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
}
