.menu-sidebar {
  max-width: 192px;
  margin-right: 18px;
}

.nav-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 24px;

  &__title {
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
    color: $grey-9;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: $grey-8;
    text-decoration: none;

    &:hover {
      background: $white-color;
    }

    &--active {
      font-weight: 600;
      color: $grey-9;
      background: $white-color;
    }

    svg {
      margin-right: 8px;
    }
  }
}

