.post {
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;

    img {
      width: 100%;
    }
  }

  &__author {
    margin: 0;
    margin-bottom: 4px;
    color: $primary-color;
  }

  &__time {
    display: flex;
    align-items: center;
    color: $grey-7;

    span {
      position: relative;
      padding-right: 16px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        width: 4px;
        height: 4px;
        background-color: $grey-6;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }

    .icon-setting {
      width: 14px;
      height: 14px;
    }
  }
}
