.search {
  min-width: 336px;

  &__input {
    width: 100%;
    max-width: 336px;
    padding: 5px 30px 5px 12px;
    font-size: 14px;
    line-height: 22px;
    background: #fff url($imgFolder + '/svg/icon-search.svg') no-repeat right 12px center;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: $secondary-color;
    }

    &::-webkit-clear,
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
