.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  margin-right: 8px;
  padding: 8px 12px;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  color: $grey-8;
  background-color: $grey-3;
  border: none;
  border-radius: 48px;
  outline: none;

  svg {
    margin-right: 8px;

    &.icon-ellipsis {
      margin: 0;
    }
  }
}
