*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: sans-serif;
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
