$imgFolder: '../img'; // путь к изображениям
$fontsFolder: '../fonts'; // путь к шрифтам

// colors
$primary-color: #0050B3;
$primary-dark-color: #003A8C;
$primary-darker-color: #002766;
$secondary-color: #bfbfbf;
$white-color: #fff;

// text color
$grey-9: #262626;
$grey-8: #595959;
$grey-7: #8c8c8c;
$grey-6: #bfbfbf;
$grey-3: #F5F5F5;

// background-color

