.icons-panel {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 12px;

    &:last-child {
      margin-left: 24px;
    }

    &:last-child::before {
      position: absolute;
      top: 50%;
      left: -12px;
      content: "";
      width: 1px;
      height: 16px;
      background-color: $primary-dark-color;
      transform: translateY(-50%);
    }
  }
}

.icon {
  &-panel {
    fill: $primary-darker-color;
    transition: fill .5s ease;

    &:hover {
      fill: $white-color
    }
  }

  &-users {
    width: 18px;
    height: 19px;
  }

  &-message {
    width: 21px;
    height: 21px;
  }

  &-bell {
    width: 16px;
    height: 21px;
  }

  &-info {
    width: 21px;
    height: 21px;
  }
}
