.navigation-panel {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.571;

    &::before {
      position: absolute;
      top: 50%;
      left: -12px;
      content: "";
      width: 1px;
      height: 16px;
      background-color: $primary-dark-color;
      transform: translateY(-50%);
    }

    &:last-child::after {
      position: absolute;
      top: 50%;
      right: -12px;
      content: "";
      width: 1px;
      height: 16px;
      background-color: $primary-dark-color;
      transform: translateY(-50%);
    }

    a {
      color: $white-color;
      text-decoration: none;
    }
  }
}
