.user {
  display: flex;
  align-items: center;
  margin-right: 12px;

  &-sidebar {
    margin-left: 10px;

    .user__avatar {
      width: 24px;
      height: 24px;
    }

    .user__name {
      font-weight: normal;
      font-style: 1rem;
      line-height: 1;
      color: $grey-8;
    }
  }

  &__avatar {
    margin-right: 8px;
  }

  &__name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.571;
    color: $white-color;
  }
}
